matplotlib~=3.6
numpy~=1.23
scipy~=1.9
pandas~=1.5
fsspec>=2022.11
pyyaml~=6.0
requests~=2.28
aiohttp~=3.8
intake~=0.6
intake-xarray~=0.6
pydantic~=1.9
exifread~=3.0
distinctipy~=1.2
ipython~=8.3
tqdm~=4.65
