h3 {
  font-family: monospace;
  margin-bottom: 1.2ex;
}

h4 {
  color: #6c757d;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: 2.5ex;
  margin-bottom: 1.5ex;
}

h5 {
  font-weight: bold;
  font-size: 100%;
  margin-top: 2ex;
  martin-bottom: 1ex;
}

.brandLogo {
  width: 100%;
  max-width: 40%;
  min-width: 250px;
}

img.halfsize_thumbnails {
  width: 128px;
}

div.gridtext {
  height: 15ex;
}

.login-bar {
  font-size: small;
  background-color: Lavender;
  font-weight: bold;
  line-height: 1;
}

.bg-highlight {
  background-color: Lavender;
}

.tooltip-available {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.text-block {
  max-width: 62ch;
}

.wide-block {
  max-width: 72ch;
}

.app {
  margin-bottom: 4ex;
}

ul.list-spaced li {
  padding: 6px 0px;
}
