h3 {
    font-family: monospace;
}

h4 {
    color: #6c757d;
    font-weight: 200;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-top: 2.5ex;
    margin-bottom: 1.5ex;
}

.brandLogo {
    width: 100%;
    max-width:40%;
    min-width: 250px;
}

img.halfsize_thumbnails{
    width: 128px;
}

div.gridtext {
    height: 15ex;
}

.login-bar {
    font-size: small;
    background-color: Lavender;
    font-weight: bold;
    line-height: 1.0;
}

.bg-highlight {
    background-color: Lavender;
}

